@import "tailwindcss";

@font-face {
    font-family: inknut;
    src: url(/fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf);
}
@font-face {
    font-family: inria;
    src: url(/fonts/Inria_Serif/InriaSerif-Regular.ttf);
}
@font-face {
  font-family: nmr;
  src: url(/fonts/neuemontreal-regular.otf);
}

body {
  @apply bg-zinc-900;
}
