*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html, body{
    height: 100%;
    width: 100%;
}

main{
    min-height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    height: 6.2rem;
    width: 100%;
    /* background-color: #222; */
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 95%;
    height: 80%;
    background-color: #333;
    border: 1px solid #25BB8D;
    border-radius: 5px;
}

.hero{
    height: 31rem;
    width: 100%;
    /* background-color: #25BB8D; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    width: 95%;
    height: 95%;
    background-color: #333;
    border: 2px solid #25BB8D;
    border-radius: 5px;
}

.skills{
    width: 95%;
    /* background-color: #333; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 2rem;
}

.skills h1{
    color: #fff;
    font-size: 3.5vmax;
}

.skill{
    height: 60vh;
    width: 100%;
    background-color: #000;
    border: 2.5px solid #25BB8D;
    border-radius: 10px;
}

.partners{
    width: 95%;
    /* background-color: #000; */
    /* border: 2px solid #25BB8D; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.marquee{
    width: 95%;
    height: 15rem;
    display: flex;
    border: 2px solid #25BB8D;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem;
    border-radius: 5px;
}

.partner{
    height: 9rem;
    width: 9rem;
    background-color: #7e7e7e;
    border-radius: 10px;
}

.partners h1{
    color: #fff;
    font-size: 3.5vmax;
}


@media (max-width:918px) {
    .marquee {
        flex-direction: column;
        height: auto;
        padding: 2rem 2rem;
        gap: 2rem;
    }
}